.adminNavRight{
    flex-grow: 0 !important;
}

.adminBody{
    height: 100vh;
    background-color: $third;
    //background-image: url('https://i.pinimg.com/originals/fd/da/3a/fdda3a22f715f03d23f1824591c24b3f.jpg') !important;
    background-position: center;
    background-repeat: repeat;
    background-size: contain;
}


.adminNavbar{
    background-color: $second;
    margin: 0 !important;
    padding: 10px !important;
}

.card-header{
    background-color: $second !important;
}
