// Body
$body-bg: #f6f1fb;

// Typography
//https://fonts.google.com/specimen/Raleway FONT TITOLI
//https://fonts.google.com/specimen/Tenor+Sans FONT SOTTOTITOLI
$font-family-sans-serif: 'Nunito',
sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$darkOrange: #FF4718;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
$first: #2F5F74;
$second: #85ADBE;
$third: #EAF0F2;

@mixin title-font {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
}

@mixin subtitle-font {
  font-family: 'Tenor Sans', sans-serif;
}


@mixin li-menu-horizontal {
    display: inline-block;
    font-size: 1.5em;
    font-weight: 600;
    vertical-align: center;
}

@mixin flex-row-around {
    display: flex;
    justify-content: space-around;
}

@mixin all-caps-title {
    text-transform: uppercase;
    font-size: 0.6em;
    font-weight: 600;
    letter-spacing: 3px;
}

@mixin all-caps-footer {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
}

@mixin all-caps-button {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
    border: none;
    color: $third;
    padding: 10px 30px;
}

@mixin brand-icons {
    color: #fff;
    border-radius: 50%;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
}

@mixin li-menu-horizontal {
    display: inline-block;
    font-size: 11px;
    font-weight: 600;
    vertical-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500;700;900&family=Tenor+Sans&display=swap');
//@import '~bootstrap/scss/bootstrap';